body {
font-family: 'Roboto', 'sans-serif';

display: flex;
flex-direction: column;
justify-content: flex-start;
flex: 1 1 0;
background-color: #eff0f3;

}

.header{
   width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-right{
    margin: 1%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.header-right a{
    text-decoration: none;
    font-size: 25px;
    color: #E5E7EB ;
    }

.header-left{
    margin: 1%;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items:baseline;
}
.header-left a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 25px;
}
.one{
    display: flex;
    /* width: 100%; */
    /* height: 40vh; This messed up the formatting. look up why later*/ 
    background-color: #1F2937;
    /* justify-content: flex-start; */
    /* align-items: center; */
    height: 100vh;
    border-bottom: 5vh solid rgba(255, 0, 0, 0);
}

.website-png{
    display: block;
    max-width: 1000px;
    max-height: 1000px;
    height: 100%;
    width: 100%;
}
.website-description{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 50%;
    /* height: 100%; */

}
.about-website{
    /* border: 3px solid red; */
    flex: 1 1 0;
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
    text-align:center;
    /* height: 30%; */
}

.about-website-more{
    /* height: 30%; */
    /* border: 3px solid green; */
    font-size: 1.5em;
    color: #E5E7EB;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}
.button-space{
    flex: 1 1 auto;
    align-self: center;
    margin-top: 10%;
    margin-left: 1%;
    /* border: 3px solid yellow; */
}
.button-learnmore{
    background-color: rgb(134,80,88);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button-learnmore a{
    text-decoration: none;
    color: #E5E7EB;
}

#learnmore{
    justify-content: center;
    align-self: center;
    font-size: 40px;
}
/* ----------------------------------------------------- */
.two p{
    margin: 5px;
    padding: 5px;
    color: black;
}
.two{
    margin-bottom: 5vh;
    display: flex;
    flex-direction: row;
    height: 70vh;
    background-color: #cccfd4;
}
.thingabouthim{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.firstthing{
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
}

.firstthing-pic {
    flex: 3 1 0;
}

.firstthing-pic img{
    max-width: 100%;
    max-height: 100%;
    height: 100%;

}

.firstthing-desc{
    flex: 1 1 0;
    font-size: 22px;
    text-align: center;
}

.secondthing-pic{
    flex: 3 1 0;
}

.secondthing-pic img {
    max-width: 100%;
    max-height: 100%;
    height: 100%;
}
.secondthing-desc{
    flex: 1 1 0;
    font-size: 22px;
    text-align: center;
}

.thirdthing{
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
}
.thirdthing-pic{
    flex: 3 1 0;
}

.thirdthing-pic img {
    max-height: 100%;
    max-width: 100%;
    height: 100%;
}

.thirdthing-desc{
    flex: 1 1 0;
    font-size: 22px;
    text-align: center;
}


/* ------------------------------------------------ */
#brokenpromises{
    font-size: 40px;
    justify-content: center;
    text-align: center;
    /* margin-bottom: 0px; */
}


.brokenpromises{
    display: flex;
    min-width: 100%;
    min-height: 200px;
    overflow-x: auto;
    background-color: rgb(204,207,212);
}


.promise{
    font-size: 25px;
    flex: 0 0 250px;
    margin: 5px;
    padding-left: 5px;
    border-radius: 8%;
    background-color: rgba(255, 167, 167, 0.432);

}


/* ----------------------------------- */


.final{
    height: 50vh;
    background-color:rgb(204,207,212) ;
}

.toameer{
    margin: 5vhpx;
    text-align: center;
    font-size: 40px;
}



