body {
display: flex;
flex-direction: column;
justify-content: flex-start;
flex: 1 1 0;
background-color: #eff0f3;

}

.header{
   width: 100%;
    background-color: #1F2937;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.header-right{
    margin: 1%;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.header-right a{
    text-decoration: none;
    font-size: 25px;
    color: #E5E7EB ;
    }

.header-left{
    margin: 1%;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items:baseline;
}
.header-left a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 25px;
}
.one{
    display: flex;
    /* width: 100%; */
    /* height: 40vh; This messed up the formatting. look up why later*/ 
    background-color: #1F2937;
    /* justify-content: flex-start; */
    /* align-items: center; */
    height: 100vh;
}

.website-png{
    display: block;
    max-width: 1000px;
    max-height: 1000px;
    height: 100%;
    width: 100%;
}
.website-description{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    width: 50%;
    /* height: 100%; */

}
.about-website{
    /* border: 3px solid red; */
    color: #f9faf8;
    font-size: 48px;
    font-weight:bolder;
    text-align:center;
    /* height: 30%; */
}

.about-website-more{
    /* height: 30%; */
    /* border: 3px solid green; */
    font-size: 1.5em;
    color: #E5E7EB;
    text-align: justify;
    padding: 10px;
    margin: 10px;
}
.button-space{
    flex: 1 1 auto;
    align-self: center;
    margin-top: 10%;
    margin-left: 1%;
    /* border: 3px solid yellow; */
}
.button-learnmore{
    background-color: rgb(134,80,88);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}
.button-learnmore a{
    text-decoration: none;
    color: #E5E7EB;
}
